modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "EAS Android Build"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "EAS iOS Build"

[[workflows.workflow]]
name = "EAS Android Build"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd /home/runner/workspace/artifacts/swim-app && EXPO_TOKEN=WeNuUChLeFVnqUjrsQgTMlAEX_czcxXPYHrRwdPP EAS_BUILD_NO_EXPO_GO_WARNING=true npx eas build --platform android --profile production --non-interactive --no-wait"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "EAS iOS Build"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd /home/runner/workspace/artifacts/swim-app && EXPO_TOKEN=WeNuUChLeFVnqUjrsQgTMlAEX_czcxXPYHrRwdPP EAS_BUILD_NO_EXPO_GO_WARNING=true npx eas build --platform ios --profile production --non-interactive --no-wait --skip-credentials-check"

[workflows.workflow.metadata]
outputType = "console"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["revenuecat:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
CF_ACCOUNT_ID = "53dff4976d55c17ec94ebe6306d0cffc"
CF_R2_BUCKET_NAME = "swimnotepicture"
CF_R2_ACCESS_KEY_ID = "d91625b9db60b57775aa27df57cb7f9c"
CF_R2_SECRET_ACCESS_KEY = "dd531655ae68d2025ee0619faf24c31da3918ec6bf84e1b7ca4650138d20b7cb"
CF_R2_VIDEO_BUCKET_NAME = "swimnotevideo"
CF_R2_VIDEO_ACCESS_KEY_ID = "d926a87c1801eda430a0a5f3d74e5378"
CF_R2_VIDEO_SECRET_ACCESS_KEY = "4c4990ba162ba35ae02de4a5cd286a62c929e4cc1229477c060c0ad59fce747c"
REVENUECAT_PROJECT_ID = "projc8b01266"
REVENUECAT_TEST_STORE_APP_ID = "app1cca3090f2"
REVENUECAT_APPLE_APP_STORE_APP_ID = "app854f00da21"
REVENUECAT_GOOGLE_PLAY_STORE_APP_ID = "appbe8c37f5b9"
EXPO_PUBLIC_REVENUECAT_TEST_API_KEY = "test_nVpEzvoYbKFUajkBhXaWUzeKmfu"
EXPO_PUBLIC_REVENUECAT_IOS_API_KEY = "appl_wRhyQHmIUxUhBvVHWaoGyUpwdMo"
EXPO_PUBLIC_REVENUECAT_ANDROID_API_KEY = "goog_iOSUEXOdIktvMemPmJEbTDelJXu"

[userenv.development]
SMS_DEV_EXPOSE_CODE = "true"
